<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDMm3HXVhgaHh38LQ__k-GKEw_4k8G-1yE</string>
	<key>GCM_SENDER_ID</key>
	<string>68301565182</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.partnerworktracker.app.partnerWorkTracker</string>
	<key>PROJECT_ID</key>
	<string>shabih-tracking</string>
	<key>STORAGE_BUCKET</key>
	<string>shabih-tracking.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:68301565182:ios:6db7a66f4370d535b6c9af</string>
</dict>
</plist>